
Parallel/ex_S1_lifetime.dat
*.dat
*.h5
./save/*
./save_441/*
/save_441/*
/save/*
/save_hBN/*
/save_hBN_symm/*
/save_hBN_nosymm/*
/save_MoS2_nosymm/*
/save_MoS2_symm/*
*epw.out

/save_MoS2_symm_24241k_12121Q/
/Common/a0.txt
/Common/crystal.txt
/test/kgrid.inp
/test/in_head
/test/inq_head
/test/test.inp
/test/*
/test/save_hBN_symm/
/test/save_MoS2_nosymm/
/test/save_MoS2_symm/
/test/save_MoS2_symm_24241k_12121Q/
/diffusion_frames/
/diffusion.htm
/576data/
