
Parallel/ex_S1_lifetime.dat
*.dat
*.h5
./save/*
./save_441/*
/save_441/*
/save/*
/save_hBN/*
/save_hBN_symm/*
/save_hBN_nosymm/*
/save_MoS2_nosymm/*
/save_MoS2_symm/*
*epw.out

/save_MoS2_symm_24241k_12121Q/
